{% extends 'BlackRookTaskBundle::layout.html.twig' %}
{% block body %}

<h1>Activity edit</h1>

<form class="entity" action="{{ path('activity_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_errors(edit_form) }}
    {{ form_rest(edit_form) }}
    <div class="actions">
        <button type="submit">Edit</button>
    </div>
</form>

<form class="delete" action="{{ path('activity_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button type="submit">Delete Activity</button>
</form>

{% endblock %}