{% extends 'BlackRookTaskBundle::layout.html.twig' %}

{% block body %}

<h1>Project edit</h1>
<form class="entity" action="{{ path('project_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_errors(edit_form) }}
    {{ form_rest(edit_form) }}
    <div class="actions">
        <button type="submit">Submit</button>
    </div>
</form>

<form class="delete" action="{{ path('project_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
     <button type="submit">Delete Project</button>
</form>


{% endblock body %}